@model OnlineStore.Models.ViewModel.CommentModel

@{
    ViewData["Title"] = "EditComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditComment</h1>

<h4>CommentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-action="SaveComment" />
            </div>
            <a 
               class="btn btn-danger" 
               asp-action="RemoveComment"
               asp-route-productId="@Model.ProductId" 
               asp-route-userId="@Model.UserId">Delete comment</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Product" asp-route-id="@Model.ProductId">Back to product</a>
</div>

