@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <p>Test controller, only for watch all available data, and test some functions</p>
    <p class="text-left">
        @foreach (var i in ViewBag.users)
        {
        <p> Name: @i.Name, Surname: @i.Surname, Email: @i.Email</p>
        <br />
        }

        </p>
        <span>Count of all users @ViewBag.users.Count</span>
</div>