@model IEnumerable<OnlineStore.Models.Database.Product>
@{
    ViewData["Title"] = "Home Page";
}
    <div class="card-group">
        @foreach (var i in Model)
        {
            @await Html.PartialAsync("_CardProduct", i);
        }
    </div>

